@model Domain.SubjectStudent



<h3>Are you sure you want to delete the student @Model.Student.FirstName?</h3>


<form asp-action="DeleteStudentSubject" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" name="SubjectId" value="@Model.SubjectProfessor.SubjectId" />
    <input type="hidden" name="ProfessorId" value="@Model.SubjectProfessor.ApplicationUserId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
</form>
<a asp-action="SubjectStudent" asp-route-subjectId="@Model.SubjectProfessor.SubjectId"
   asp-route-professorId="@Model.SubjectProfessor.ApplicationUserId">Back to list</a> 