@model Domain.SubjectProfessor


@if (TempData["ErrorStudent"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorStudent"]
    </div>
}
@{
    var successMessage = TempData["SuccessMessage"] as string;
}
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-danger">
        @successMessage
    </div>
}

<h3>@Model.Professor.FirstName - @Model.Subject.Name</h3>
<a class="btn btn-success" asp-action="AddStudent" asp-route-Id="@Model.Id">Додади ученик</a>
<a class="btn btn-success mb-3" asp-action="ExcellStudentReader" asp-route-Id="@Model.Id">Импортирај ученици</a>|
<a asp-action="Details" asp-route-id="@Model.SubjectId">Back to list</a>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
        </tr>
    </thead>
    <tbody>

        @for (int i = 0; i < Model.ProfessorStudents.Count(); i++)
        {
            var item = Model.ProfessorStudents.ElementAt(i);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Email)
                </td>
                <td>

                   @*  <a asp-action="SubjectStudent" asp-route-subjectId="@Model.Id"
                       asp-route-professorId="@item.ApplicId">Ученици</a> | *@
                    <a asp-action="DeleteStudentSubject" asp-route-Id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        

    </tbody>
</table>